.post-form {
  margin-bottom: var(--spacing-double);
}

.post-form form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.post-form section {
  width: 100%;
}

.post-form__input {
  width: 90%;
  padding: var(--spacing-unit);
  margin-bottom: var(--spacing-unit);
  border: 1px solid var(--color-border);
  border-radius: 5px;
  resize: vertical;
  min-height: 30px;
  font-size:16px;
}

.post-form__input::placeholder{
  font-style: italic;
}

.post-form__button {
  background-color: var(--color-primary);
  color: var(--color-background);
  border: none;
  padding: 0 var(--spacing-double);
  max-height: 52px;
  border-radius: 5px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.post-form__button:hover:not(:disabled) { 
  background-color: var(--color-primary-hover);
}

.post-form form .post-form__button:disabled  {
  background-color: var(--color-background-secondary) !important;
  cursor: default;
  color: var(--color-text-light);
}

.post-form__input--error {
  border: 2px solid var(--color-error);
}
.post-form__input--error:focus {
  box-shadow: 0 0 0 1px var(--color-error);
}

.post-form__error-message {
  color: var(--color-error-message);
  font-size: 0.8rem;
  margin-top: -2px;
}
